# ========== LLM Settings ==========
RAG_APP__LLM__MODEL=qwen/qwen-2.5-7b-instruct
RAG_APP__LLM__TEMPERATURE=0.6
RAG_APP__LLM__MAX_TOKENS=1000
RAG_APP__LLM__BASE_URL=https://openrouter.ai/api/v1
RAG_APP__LLM__API_KEY=your_api_key_here

# ========== Retrieval Settings ==========
RAG_APP__RETRIEVAL__EMBEDDING=intfloat/multilingual-e5-large
RAG_APP__RETRIEVAL__CROSS_ENCODER=cross-encoder/ms-marco-MiniLM-L-6-v2
RAG_APP__RETRIEVAL__K=5
RAG_APP__RETRIEVAL__TOP_K=5
RAG_APP__RETRIEVAL__BM25_K=5
RAG_APP__RETRIEVAL__QDRANT_K=5
RAG_APP__RETRIEVAL__ENSEMBLE_WEIGHTS_BM25=0.3
RAG_APP__RETRIEVAL__ENSEMBLE_WEIGHTS_QDRANT=0.7

# ========== Dataset Settings ==========
RAG_APP__DATASET=IlyaGusev/habr
RAG_APP__DATASET_COLUMN=text_markdown
RAG_APP__SPLIT_DATASET=train[:1000]

# ========== FastAPI Settings ==========
RAG_APP__FASTAPI__HOST=0.0.0.0

# ========== Additional Settings ==========
TOKENIZERS_PARALLELISM=false

# ========== Qdrant Settings ==========
RAG_APP__QDRANT__URL=http://qdrant:6333
RAG_APP__QDRANT__PREFER_GRPC=false

# ========== Cache Database Settings ==========
RAG_APP__DATABASE__HOST=db
RAG_APP__DATABASE__PORT=5432
RAG_APP__DATABASE__USER=chainlit_user
RAG_APP__DATABASE__PASSWORD=chainlit_pass
RAG_APP__DATABASE__DATABASE=postgres_db
RAG_APP__DATABASE__CACHE_TABLE=answer_cache

# ========== Chainlit Database Settings ==========
RAG_APP__CHAINLIT__HOST=db
RAG_APP__CHAINLIT__PORT=5432
RAG_APP__CHAINLIT__USER=chainlit_user
RAG_APP__CHAINLIT__PASSWORD=chainlit_pass
RAG_APP__CHAINLIT__DATABASE=chainlit_db
DATABASE_URL=postgresql://${RAG_APP__CHAINLIT__USER}:${RAG_APP__CHAINLIT__PASSWORD}@${RAG_APP__CHAINLIT__HOST}:${RAG_APP__CHAINLIT__PORT}/${RAG_APP__CHAINLIT__DATABASE}
CHAINLIT_AUTH_SECRET=chainlit_auth_secret
RAG_APP__CHAINLIT__FASTAPI_SERVICE_URL=http://app:8000

# ========== Langfuse Settings ==========
RAG_APP__CALLBACK__LANGFUSE__HOST=http://langfuse:3000
RAG_APP__CALLBACK__LANGFUSE__PUBLIC_KEY=your_public_key_here
RAG_APP__CALLBACK__LANGFUSE__SECRET_KEY=your_secret_key_here
RAG_APP__CALLBACK__LANGFUSE__DEBUG=false
RAG_APP__CALLBACK__LANGFUSE__HOST_LOCAL=http://localhost:3000

# ========== OpenAI Settings ==========
OPENAI_API_KEY=sk-dummy

RAG_APP__PARAPHRASE_QUERY=true
RAG_APP__USE_BM25_RETRIEVER=true
RAG_APP__USE_QDRANT_RETRIEVER=true
RAG_APP__FILTER_DOCUMENTS=true
RAG_APP__USE_CROSS_RERANKER=true